# The following people will be able to approve PRs and have full write access to the repo.
# Nobody else will be able to approve PRs.

* @thefundamentaltheor3m @b-mehta @CBirkbeck @seewoo5 @pitmonticone @grhkm21 @viazovska
