on:
  push:
    branches:
      - '**'
      - '!main'

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_project:
    runs-on: ubuntu-latest
    name: Build Project
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install `elan`
        run: curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- -y --default-toolchain leanprover/lean4:4.5.0

      - name: Get Cache
        run: ~/.elan/bin/lake exe cache get || true

      - name: Build Project
        run: ~/.elan/bin/lake build SpherePacking

      # - name: Cache Mathlib Docs
      #   uses: actions/cache@v3
      #   with:
      #     path: |
      #       .lake/build/doc/Init
      #       .lake/build/doc/Lake
      #       .lake/build/doc/Lean
      #       .lake/build/doc/Std
      #       .lake/build/doc/Mathlib
      #       .lake/build/doc/declarations
      #       !.lake/build/doc/declarations/declaration-data-SpherePacking*
      #     key: MathlibDoc-${{ hashFiles('lake-manifest.json') }}
      #     restore-keys: |
      #       MathlibDoc-

      # - name: Build Documentation
      #   run: ~/.elan/bin/lake -R -Kenv=dev build SpherePacking:docs

      # - name: Build blueprint and copy to `docs/blueprint`
      #   uses: xu-cheng/texlive-action@v2
      #   with:
      #     docker_image: ghcr.io/xu-cheng/texlive-full:20231201
      #     run: |
      #       apk update
      #       apk add --update make py3-pip git pkgconfig graphviz graphviz-dev gcc musl-dev
      #       git config --global --add safe.directory $GITHUB_WORKSPACE
      #       git config --global --add safe.directory `pwd`
      #       python3 -m venv env
      #       source env/bin/activate
      #       pip install --upgrade pip requests wheel
      #       pip install pygraphviz --global-option=build_ext --global-option="-L/usr/lib/graphviz/" --global-option="-R/usr/lib/graphviz/"
      #       pip install leanblueprint
      #       leanblueprint pdf
      #       mkdir docs
      #       cp blueprint/print/print.pdf docs/blueprint.pdf
      #       leanblueprint web
      #       cp -r blueprint/web docs/blueprint

      - name: Check Declarations
        run: |
            ~/.elan/bin/lake exe checkdecls blueprint/lean_decls
